<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rvakva.bus.personal">

    <application>
        <activity android:name=".ui.WalletActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.SystemSetActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.HistoryScheduleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.BillListActivity"
            android:screenOrientation="portrait"/>

    </application>
</manifest>